.body {
  background-color: #ecd89f;
}

.header div h1 {
  color: blue;
  text-align: center;
  padding: 15px;
}

.articulo {
  background-color: white;
  padding-left: 0px;
  border: 10px 0px 10px 0px;
  margin: 20px 0px 20px 0px;
}

.header div img {
  width: 100%;
  height: auto;
}

.main div img {
  width: 100%;
}

.footer {
  margin-top: 20px;
  text-align: center;
  align-items: center;

}


/*body{
  background-color: #da8787;
}
.articulo .fondo2{
 width-max: 100%;
}
.suscribe-box{
  margin: 20px;
  padding: 10px;
  margin-left: 50%;
  border-style: solid;
  border-color: black;
}
.articulo img.articulo-img{
  width:100%;
  }
.articulo img.header-img{
  width: 100%;
  height: 200px;

}
.texto-articulo{
  color: black;
  font: bold;
}
.articulo .titulo{
  color: pink;
  text-align: center;
  position: static;
  top: -20px; bottom: 0; right: 0; left: 0;
}
.articulo{
  color: red;
}

.titulo{
  font-size: 40px;
  text-align: center;
  margin: 20px 15px 20px 15px;
  color: green;
}*/
